.resume {
    padding-top: 40px;
}
.resume h3::after {
    content: '⦿';
    font-size: 14px;
    color: #ec0086;
    margin-left: 10px;
    position: relative;
    right: -7px;
    top: -3px;
}
.title-box {
    border-right: 1px solid gray;
}